.profile-inner{
    text-align: left;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: column;
    justify-content: center;
    align-content: center;

  
}

.login-input{
    width: auto;
    background-color: blue;
    color: aliceblue;
    border-radius: 7px;
    border-width: 1px;
    padding: 3px;
}
.form-class{
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    background-color: aliceblue;
}