.admin-inner{
    text-align: left;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    flex-direction: column;
    justify-content: left;
    padding-top: 120px;
    padding-left: 410px;
    padding-right: 200px;
    width: 50vw;
    padding-bottom: 150px;
    background-color: aliceblue;
}
.form-class{
    width: 100vw;
    text-align: center;
}
.upload-input{
    width: auto;
    background-color: lightgreen;
    border-radius: 3px;
    border-width: 1px;
    padding: 4px;
    height: 30px;
}

.admin-container{
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.form-container{
    padding: 20px;
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}