
.home-container{

    display: flex;
    flex-direction: row;
    justify-content: left;
    padding: 20px;
}

.home-post{

    height: 200px;
    width: 240px;
    background-color:aquamarine;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
    box-shadow: inset;


}

