

.login-class{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: aqua;
}





@media screen and (min-width:690px) {
   .logins-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
   .login-class{
    width: 50vw;
   }
   .image{
    width: 50vw;
    background-size: cover;
   }
   
}

@media screen and (max-width:690px) {
    .logins-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
       }
       .login-class{
        height: 50vh;
       }
       .image{
        height: 50vh;
        background-size: cover;
       }
    
}
